* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #000;
}
.container {
    padding: 10px;
}


fieldset {
    background-color: #f0f0f0;
    border: 2px solid #999;
    border-radius: 6px;
    padding: 20px 24px 24px;
    width: 380px;
}

