body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
  margin-left: 10%;
  margin-top: 20px;
}

table {
  margin: auto;
  margin-top: 10px;
  background-color: white;
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  width: 80%;
}

td {
  padding: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

textarea {
  resize: none;
}

input[type="submit"] {
  background-color: #216747;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1a5360;
}
